<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Генератор отчетов для родителей</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
  <center>Генератор отчетов для родителей</center>
  <div id="main">
    <form method="POST">
    
      <div>Группа: </div>
      <input name="groupName" list="groupName">
      <datalist id="groupName">
        {%for gn in groupNames%}
          <option value="{{gn}}">
        {%endfor%}
      </datalist> 
      <br>
      
      <div>Количество занятий: </div>
      <input name="lessonNumber" list="lessonNumber">
      <datalist id="lessonNumber">
        {%for number in range(8,81,8)%}
          <option value="{{number}}">
        {%endfor%}
      </datalist>  
      <br>
      
      <button class="btn btn-primary" type="submit">Сформировать</button>
    </form>
    <div id="reportsGrid">
        {%for report in reports%}
          <div class="reportCard">
            <center>
              <b>{{report.title}}</b>
            </center>
            <textarea id="{{report.id}}_text" cols="30" rows="10">{{report.text}}
            </textarea>
            <button id="{{report.id}}" class="copyBtn btn btn-secondary">📝</button>
          </div>
          
        {%endfor%}
    </div>
  
   
  </div>
  
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="{{url_for('static',  filename='js/script.js')}}"></script>
</body>
</html>